
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>students</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Articles-Cards-images.css' %}">
</head>

<body style="background-image: linear-gradient(to bottom, #487fd2, #7481e4, #a280f0, #d17af4, #ff71ef);">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>All students</h2>
            </div>
        </div>
        <a href="{% url 'add-items' %}" class="btn btn-warning"> Add Students </a>
        <div class="row text-center">
            {% for ind_data in data %}
                <div class="col-md-4">
                    <div class="card shadow-lg m-3"><center><img class="card-img-top w-50 d-block fit-cover pt-3" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></center>
                        <div class="card-body p-4">
                            <h3 class="card-title">Name: <b>{{ind_data.name}}</b></h3>
                            <h4 class="card-text">Department:<b> {{ind_data.department}}</b></h4>
                            <h4 class="card-text">Year: <b>{{ind_data.year}}</b></h4>
                            <a class="btn btn-primary" href="{% url 'profile' ind_data.id %}">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
          
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>